@using ClipKeep.Models
@model ClipKeep.Models.UserData
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/MainAppStyles/MainAppStyles.css")
<div class="jumbotron">
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "pasteform" }))
    {
        <fieldset>
            <div class="editor-group">
                <h2> Click or tap the box and paste to store a copied item in ClipKeep! </h2>
                <p class="lead"> Please note! If you have 5 items on ClipKeep already we'll automatically delete your oldest item.</p>
                <div class="editor-field">
                    @Html.TextAreaFor(userDataModel => userDataModel.PastedContent, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                    @Html.ValidationMessageFor(userDataModel => userDataModel.PastedContent, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>
    }
</div>

    <p class="text-danger">@ViewBag.ErrorMessage</p>
    <p>@ViewBag.InfoMessage</p>
    @{ int contentIndex = 0;}
    @foreach (var pastedItem in Model.UserClipKeepContents)
    {
        <div class="row">
            @{ contentIndex += 1; }
            <div id="ContentNo:@contentIndex" class="pasted-item">
                @if (pastedItem.ContentType == "Text")
                {
                <p class="pasted-item-content pasted-item-text"> @pastedItem.Content </p>
                <p class="pasted-item-date">Date pasted: @pastedItem.DatePasted.ToString()</p>
                <button class="btn btn-primary center-block" onclick="copyFromClipKeep(this)">Copy to local clipboard</button>

                }
                @if (pastedItem.ContentType.Contains("image"))
                {
                    <figure class="image-with-caption">
                        <img class = "pasted-item-content pasted-item-image" src="@pastedItem.Content" />
                        <figcaption class="pasted-item-date">Date pasted: @pastedItem.DatePasted.ToString()</figcaption>
                    </figure>
                    <button class="btn btn-primary center-block" onclick="copyFromClipKeep(this)">Copy to local clipboard</button>
                }
            </div>
        </div>
    }
@section scripts
{
    @Scripts.Render("~/MainAppScripts/HandleContentPaste.js")
    @Scripts.Render("~/MainAppScripts/HandleClipKeepCopy.js")
}

